@use "./viewports.scss";

body {
  background-color: var(--darkGray);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@include viewports.bplg {
  body {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
