footer {
  width: 100vw;
  height: 10vh;
  background-color: var(--white);
  display: flex;
  padding: 4rem;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 2rem;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

footer a {
  color: var(--deepRed);
  text-decoration: none;
}

@media (min-width: 1024px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 0;
  }
}
