$bp-sm: 600px;
$bp-md: 700px;
$bp-lg: 1024px;
$bp-xl: 1400px;

@mixin bpsm() {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin bpmd() {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin bplg() {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin bpxl() {
  @media (min-width: $bp-xl) {
    @content;
  }
}
