@use "./reset.scss";
@use "./viewports.scss";

$lightness: 70%;
article {
  font-size: 1.6rem;
  flex-grow: 1;
  line-height: 1.6em;
  width: 98vw;
  margin: auto;
  padding: 4rem 0.5rem;
  overflow: hidden;
  margin-top: -6rem;
  margin-bottom: -6rem;
  h1 {
    font-family: inherit;
    font-size: 2rem;
    margin-top: 4rem;
  }

  @include viewports.bpsm {
    h1 {
      margin-top: 4rem;
      font-size: 3rem;
    }
  }

  filter: drop-shadow(0px -10px 100px var(--peach));
  background: linear-gradient(
    var(--turn),
    lighten(reset.$deepRed, $lightness),
    lighten(reset.$hotRed, $lightness),
    lighten(reset.$peach, $lightness),
    lighten(reset.$lightBlue, $lightness),
    lighten(reset.$darkBlue, $lightness)
  );

  a {
    color: var(--darkBlue);
  }

  a:hover,
  a:focus {
    color: var(--lightBlue);
  }

  a:visited {
    color: var(--peach);
  }
  .headshot {
    position: absolute;
  }
}

@include viewports.bpmd {
  article {
    font-size: 1.6rem;
    width: 90vw;
    padding: 4rem 2rem;
  }
}

@include viewports.bplg {
  article {
    font-size: 2rem;
    width: 80vw;
    padding: 4rem 4rem;
  }
}

@include viewports.bpxl {
  article {
    font-size: 2rem;
    width: 70ch;
    padding: 4rem 6rem;
  }
}

.article-page {
  footer,
  header {
    position: initial;
  }
  padding: 0;
}
